@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "components/button";

@import "layout/header";



/*Psudeo Class for class btn special state of a selector style elements under a special condition
.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}
*/
